<strong>Ola, {{ deliveryman }}</strong>
<p>Foi registrado uma nova encomenda para você!</p>
<p>O Produto {{product}} Já se encontra disponível para retirada!</p>
<p>
  <strong>Nome: </strong> {{ recipientName  }} <br>
  <small>
      Dirija-se Com Segurança ao Local do Destinatario
  </small>
</p>
